.project-box {

	background: white;
	padding:25px;
	border:1px solid gray;
	border-radius: 3px;
	display:inline-block;
	width:25%;

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















